QueryClient/Service References/DubiousService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.211:8071/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" />
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" minOccurs="0" name="parameters" nillable="true" type="q1:QueryParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" minOccurs="0" name="parameters" nillable="true" type="q2:QueryParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" minOccurs="0" name="QueryParametersResult" nillable="true" type="q3:ReturnParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDubiousValuesLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dubiousValues" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDubiousValuesLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDubiousValuesLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDubiousValuesLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDubiousValuesLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryDubiousValuesLogResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>