QueryClient/Service References/DubiousService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.211:8071/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.211:8071/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.211:8071/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_QueryParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryParameters" />
  </wsdl:message>
  <wsdl:message name="IService_QueryParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddDubiousValuesLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDubiousValuesLog" />
  </wsdl:message>
  <wsdl:message name="IService_AddDubiousValuesLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDubiousValuesLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_QueryDubiousValuesLog_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryDubiousValuesLog" />
  </wsdl:message>
  <wsdl:message name="IService_QueryDubiousValuesLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDubiousValuesLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Query" message="tns:IService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QueryResponse" message="tns:IService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/QueryParameters" message="tns:IService_QueryParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QueryParametersResponse" message="tns:IService_QueryParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDubiousValuesLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddDubiousValuesLog" message="tns:IService_AddDubiousValuesLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddDubiousValuesLogResponse" message="tns:IService_AddDubiousValuesLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryDubiousValuesLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/QueryDubiousValuesLog" message="tns:IService_QueryDubiousValuesLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QueryDubiousValuesLogResponse" message="tns:IService_QueryDubiousValuesLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParameters">
      <soap:operation soapAction="http://tempuri.org/IService/QueryParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDubiousValuesLog">
      <soap:operation soapAction="http://tempuri.org/IService/AddDubiousValuesLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDubiousValuesLog">
      <soap:operation soapAction="http://tempuri.org/IService/QueryDubiousValuesLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.0.0.211:8071/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>