QueryClient/Service References/DubiousService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnjiQueryWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryParameters" nillable="true" type="tns:QueryParameters" />
  <xs:complexType name="ReturnParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code_Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logistics_Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Query_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:CodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnParameters" nillable="true" type="tns:ReturnParameters" />
  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Colourful" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CodeType" nillable="true" type="tns:CodeType" />
</xs:schema>