QueryClient/Service References/LogService/LogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" />
  <xs:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" />
  <xs:element name="SystemLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q1:SystemLogQueryArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="SystemLogQueryResult" nillable="true" type="q2:ArrayOfSystemLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemLogQueryTake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q3:SystemLogQueryArgs" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemLogQueryTakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="SystemLogQueryTakeResult" nillable="true" type="q4:ArrayOfSystemLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q5:QueryLogQueryArgs" />
        <xs:element minOccurs="0" name="withKeepLine" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="QueryLogQueryResult" nillable="true" type="q6:ArrayOfQueryLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQueryTake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q7:QueryLogQueryArgs" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="withKeepLine" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQueryTakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="QueryLogQueryTakeResult" nillable="true" type="q8:ArrayOfQueryLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastQueryLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="withKeepLine" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastQueryLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="LastQueryLogQueryResult" nillable="true" type="q9:ArrayOfQueryLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="log" nillable="true" type="q10:SystemLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeQueryLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeQueryLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="GetCodeQueryLogsResult" nillable="true" type="q11:ArrayOfQueryLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>