QueryClient/Service References/LogService/LogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.122:7777/AdminService/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" />
  <xs:import schemaLocation="http://10.0.0.122:7777/AdminService/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" />
  <xs:element name="SystemLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q1:SystemLogQueryArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="SystemLogQueryResult" nillable="true" type="q2:ArrayOfSystemLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" minOccurs="0" name="args" nillable="true" type="q3:QueryLogQueryArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" minOccurs="0" name="QueryLogQueryResult" nillable="true" type="q4:ArrayOfQueryLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>