QueryClient/Service References/LogService/LogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" />
      <xsd:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log" />
      <xsd:import schemaLocation="http://localhost:8777/AdminService/LogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.Log.Authority" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogService_SystemLogQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemLogQuery" />
  </wsdl:message>
  <wsdl:message name="ILogService_SystemLogQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemLogQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_SystemLogQueryTake_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemLogQueryTake" />
  </wsdl:message>
  <wsdl:message name="ILogService_SystemLogQueryTake_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemLogQueryTakeResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_QueryLogQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogQuery" />
  </wsdl:message>
  <wsdl:message name="ILogService_QueryLogQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_QueryLogQueryTake_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogQueryTake" />
  </wsdl:message>
  <wsdl:message name="ILogService_QueryLogQueryTake_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryLogQueryTakeResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_LastQueryLogQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:LastQueryLogQuery" />
  </wsdl:message>
  <wsdl:message name="ILogService_LastQueryLogQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastQueryLogQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_InsertSystemLog_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSystemLog" />
  </wsdl:message>
  <wsdl:message name="ILogService_InsertSystemLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSystemLogResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_TestConn_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConn" />
  </wsdl:message>
  <wsdl:message name="ILogService_TestConn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnResponse" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetCodeQueryLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeQueryLogs" />
  </wsdl:message>
  <wsdl:message name="ILogService_GetCodeQueryLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeQueryLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogService">
    <wsdl:operation name="SystemLogQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/SystemLogQuery" message="tns:ILogService_SystemLogQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/SystemLogQueryResponse" message="tns:ILogService_SystemLogQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemLogQueryTake">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/SystemLogQueryTake" message="tns:ILogService_SystemLogQueryTake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/SystemLogQueryTakeResponse" message="tns:ILogService_SystemLogQueryTake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryLogQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/QueryLogQuery" message="tns:ILogService_QueryLogQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/QueryLogQueryResponse" message="tns:ILogService_QueryLogQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryLogQueryTake">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/QueryLogQueryTake" message="tns:ILogService_QueryLogQueryTake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/QueryLogQueryTakeResponse" message="tns:ILogService_QueryLogQueryTake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastQueryLogQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/LastQueryLogQuery" message="tns:ILogService_LastQueryLogQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/LastQueryLogQueryResponse" message="tns:ILogService_LastQueryLogQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSystemLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/InsertSystemLog" message="tns:ILogService_InsertSystemLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/InsertSystemLogResponse" message="tns:ILogService_InsertSystemLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/TestConn" message="tns:ILogService_TestConn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/TestConnResponse" message="tns:ILogService_TestConn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeQueryLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogService/GetCodeQueryLogs" message="tns:ILogService_GetCodeQueryLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogService/GetCodeQueryLogsResponse" message="tns:ILogService_GetCodeQueryLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogService" type="tns:ILogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SystemLogQuery">
      <soap:operation soapAction="http://tempuri.org/ILogService/SystemLogQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemLogQueryTake">
      <soap:operation soapAction="http://tempuri.org/ILogService/SystemLogQueryTake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLogQuery">
      <soap:operation soapAction="http://tempuri.org/ILogService/QueryLogQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryLogQueryTake">
      <soap:operation soapAction="http://tempuri.org/ILogService/QueryLogQueryTake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastQueryLogQuery">
      <soap:operation soapAction="http://tempuri.org/ILogService/LastQueryLogQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSystemLog">
      <soap:operation soapAction="http://tempuri.org/ILogService/InsertSystemLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConn">
      <soap:operation soapAction="http://tempuri.org/ILogService/TestConn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeQueryLogs">
      <soap:operation soapAction="http://tempuri.org/ILogService/GetCodeQueryLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="BasicHttpBinding_ILogService" binding="tns:BasicHttpBinding_ILogService">
      <soap:address location="http://localhost:8777/AdminService/LogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>