QueryClient/Service References/WebServiceReference/WebService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7770/WebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" />
  <xs:complexType name="ArrayOfShowenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowenInfo" nillable="true" type="tns:ShowenInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowenInfo" nillable="true" type="tns:ArrayOfShowenInfo" />
  <xs:complexType name="ShowenInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContestId" type="xs:int" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="QueryTargetMold" type="q1:FlgMold" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="ReturnMold" type="q2:ReturnMold" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowenInfo" nillable="true" type="tns:ShowenInfo" />
</xs:schema>