QueryClient/Service References/SystemMenagerService/SystemManagerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7777/AdminService/SystemManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7777/AdminService/SystemManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7777/AdminService/SystemManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.LogService" />
      <xsd:import schemaLocation="http://localhost:7777/AdminService/SystemManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemManagerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_CheckUserNameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserNameExist" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_CheckUserNameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserNameExistResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangeUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRoles" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangeUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsetRoles" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsetRolesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsetRolesByName" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsetRolesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsetRolesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsersOfRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersOfRole" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetUsersOfRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersOfRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangePwd_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePwd" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangePwd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePwdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangeRoleAuthory_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeRoleAuthory" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_ChangeRoleAuthory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeRoleAuthoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetRolse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_GetRolse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolseResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_TestConn_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConn" />
  </wsdl:message>
  <wsdl:message name="ISystemManagerService_TestConn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemManagerService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/Login" message="tns:ISystemManagerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/LoginResponse" message="tns:ISystemManagerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/AddUser" message="tns:ISystemManagerService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/AddUserResponse" message="tns:ISystemManagerService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserNameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/CheckUserNameExist" message="tns:ISystemManagerService_CheckUserNameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/CheckUserNameExistResponse" message="tns:ISystemManagerService_CheckUserNameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/AddRole" message="tns:ISystemManagerService_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/AddRoleResponse" message="tns:ISystemManagerService_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/ChangeUserRoles" message="tns:ISystemManagerService_ChangeUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/ChangeUserRolesResponse" message="tns:ISystemManagerService_ChangeUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsetRoles" message="tns:ISystemManagerService_GetUsetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsetRolesResponse" message="tns:ISystemManagerService_GetUsetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsetRolesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsetRolesByName" message="tns:ISystemManagerService_GetUsetRolesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsetRolesByNameResponse" message="tns:ISystemManagerService_GetUsetRolesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersOfRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsersOfRole" message="tns:ISystemManagerService_GetUsersOfRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/GetUsersOfRoleResponse" message="tns:ISystemManagerService_GetUsersOfRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/ChangePwd" message="tns:ISystemManagerService_ChangePwd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/ChangePwdResponse" message="tns:ISystemManagerService_ChangePwd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeRoleAuthory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/ChangeRoleAuthory" message="tns:ISystemManagerService_ChangeRoleAuthory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/ChangeRoleAuthoryResponse" message="tns:ISystemManagerService_ChangeRoleAuthory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/GetRolse" message="tns:ISystemManagerService_GetRolse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/GetRolseResponse" message="tns:ISystemManagerService_GetRolse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemManagerService/TestConn" message="tns:ISystemManagerService_TestConn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemManagerService/TestConnResponse" message="tns:ISystemManagerService_TestConn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemManagerService" type="tns:ISystemManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserNameExist">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/CheckUserNameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserRoles">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/ChangeUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsetRoles">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/GetUsetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsetRolesByName">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/GetUsetRolesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersOfRole">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/GetUsersOfRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePwd">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/ChangePwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeRoleAuthory">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/ChangeRoleAuthory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolse">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/GetRolse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConn">
      <soap:operation soapAction="http://tempuri.org/ISystemManagerService/TestConn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemManagerService">
    <wsdl:port name="BasicHttpBinding_ISystemManagerService" binding="tns:BasicHttpBinding_ISystemManagerService">
      <soap:address location="http://localhost:7777/AdminService/SystemManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>