QueryClient/Service References/InfoManagerService/InfoManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.122:7778/InfoManagerService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="QueryTarget">
    <xs:sequence>
      <xs:element name="_x003C_Flgs_x003E_k__BackingField" nillable="true" type="tns:ArrayOfFlg" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ImgPath_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Info_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Remark_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SimpleInfo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VoicePath_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryTarget" nillable="true" type="tns:QueryTarget" />
  <xs:complexType name="ArrayOfFlg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flg" nillable="true" type="tns:Flg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlg" nillable="true" type="tns:ArrayOfFlg" />
  <xs:complexType name="Flg">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlgNumber" type="tns:ReturnMold" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="QueryTable" type="tns:FlgMold" />
      <xs:element minOccurs="0" name="QueryTarget" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QueryType" type="tns:QueryMold" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flg" nillable="true" type="tns:Flg" />
  <xs:simpleType name="ReturnMold">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Voice" />
      <xs:enumeration value="Url" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="FilePath" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Others" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReturnMold" nillable="true" type="tns:ReturnMold" />
  <xs:simpleType name="FlgMold">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Product">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Series">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Firm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QueryResult">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Others">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlgMold" nillable="true" type="tns:FlgMold" />
  <xs:simpleType name="QueryMold">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Weixin" />
      <xs:enumeration value="ShotMsg" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="Innner" />
      <xs:enumeration value="Debug" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryMold" nillable="true" type="tns:QueryMold" />
  <xs:complexType name="Series">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryTarget">
        <xs:sequence>
          <xs:element name="_x003C_FirmId_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Firm_x003E_k__BackingField" nillable="true" type="tns:Firm" />
          <xs:element name="_x003C_ProductList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Series" nillable="true" type="tns:Series" />
  <xs:complexType name="Firm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryTarget">
        <xs:sequence>
          <xs:element name="_x003C_SeriesList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfSeries" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Firm" nillable="true" type="tns:Firm" />
  <xs:complexType name="ArrayOfSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Series" nillable="true" type="tns:Series" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeries" nillable="true" type="tns:ArrayOfSeries" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryTarget">
        <xs:sequence>
          <xs:element name="_x003C_SeriesId_x003E_k__BackingField" nillable="true" type="xs:int" />
          <xs:element name="_x003C_Series_x003E_k__BackingField" nillable="true" type="tns:Series" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>