QueryClient/Service References/InfoManagerService/InfoManagerService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQueryTargetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryTargetInfo" nillable="true" type="tns:QueryTargetInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryTargetInfo" nillable="true" type="tns:ArrayOfQueryTargetInfo" />
  <xs:complexType name="QueryTargetInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImgPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SimpleInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoicePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryTargetInfo" nillable="true" type="tns:QueryTargetInfo" />
</xs:schema>