QueryClient/Service References/InfoManagerService/InfoManagerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7778/InfoManagerService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" />
  <xs:import schemaLocation="http://localhost:7778/InfoManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QueryService" />
  <xs:import schemaLocation="http://localhost:7778/InfoManagerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetChildTargets1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q1:FlgMold" />
        <xs:element minOccurs="0" name="targetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildTargets1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetChildTargets1Result" nillable="true" type="q2:ArrayOfQueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildTargets2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q3:FlgMold" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildTargets2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetChildTargets2Result" nillable="true" type="q4:ArrayOfQueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q5:FlgMold" />
        <xs:element minOccurs="0" name="targetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetParentTargetResult" nillable="true" type="q6:QueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTarget1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q7:FlgMold" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTarget1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetParentTarget1Result" nillable="true" type="q8:QueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTargetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q9:FlgMold" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTargetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetSingleTargetInfoResult" nillable="true" type="q10:QueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTargetInfo1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q11:FlgMold" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleTargetInfo1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetSingleTargetInfo1Result" nillable="true" type="q12:QueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q13:FlgMold" />
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetTargetInfoResult" nillable="true" type="q14:ArrayOfQueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q15:FlgMold" />
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNamesResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q17:FlgMold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetTargetListResult" nillable="true" type="q18:ArrayOfQueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetList1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="mold" type="q19:FlgMold" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetList1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QueryService" minOccurs="0" name="GetTargetList1Result" nillable="true" type="q20:ArrayOfQueryTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="newTarget" nillable="true" type="q21:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTargetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="GetFlgsResult" nillable="true" type="q22:Flg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="tarMold" type="q23:FlgMold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="GetFlgs1Result" nillable="true" type="q24:ArrayOfFlg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetId" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="tarMold" type="q25:FlgMold" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="queryMold" type="q26:QueryMold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="GetFlgs2Result" nillable="true" type="q27:ArrayOfFlg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetName" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="tarMold" type="q28:FlgMold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="GetFlgs3Result" nillable="true" type="q29:ArrayOfFlg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="target" nillable="true" type="q30:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlgs4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="GetFlgs4Result" nillable="true" type="q31:ArrayOfFlg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="newFlg" nillable="true" type="q32:Flg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFlgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AnjiSmart.Query.QueryModel" minOccurs="0" name="newFlg" nillable="true" type="q33:Flg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>